<!-- footer-starts -->
<footer class="site-footer mt-5 p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-4 mb-lg-0">
          <div class="">
            <h3 class="mb-4">About Us</h3>
            <p class="text-justify">
              CompSales started operations in 2023 as a wholesaler in computer
              accessories and parts. It currently has a wholesale and retail
              outlets at Mensah Sarbh, University of Ghana Greater Accra
              Region. Our mission is to import and supply computer accessories
              and parts from reputable sources to meet the needs of clients..
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="mb-2">
            <h3 class="mb-4">Contact Info</h3>

            <div class="row">
              <ul class="list-style-none">
                <li class="address">
                  University of Ghana, Near Sarbah Hall, Greate-Accra, Ghana..
                  <a [routerLink]="['/about']" class="text-decoration-none mini-nav-link">more</a>
                </li>
                <li class="phone">
                  <span>Phone: </span>
                  <a href="tel://+233534340073" class="text-decoration-none mini-nav-link"
                    >+233 53 434 0073
                  </a>
                </li>
                <li class="email">
                  Email:
                  <a
                    href="mailto:compsales&#64;gmail.com"
                    class="text-decoration-none mini-nav-link"
                    >compsales&#64;gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-3 mt-2 text-center">
        <div class="col-md-12">
          <p>
            Copyright &copy; 2023 All rights reserved by |
            <a [routerLink]="['']" class="text-decoration-none mini-nav-link">
              CompSales</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-ends  -->