<div>
  <app-header></app-header>
  <!-- Mini-nav-starts  -->
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a
            [routerLink]="['']"
            class="fw-bold text-decoration-none mini-nav-link"
            >Home</a
          >
          <span class="mx-2 mb-0">/ About</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Mini-nav-ends  -->

  <!-- Site-block-starts -->
  <div
    class="site-block-cover pb-5"
    style="background-image: url(../assets/online-shopping-bg.jpg)"
  >
    <div class="row">
      <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
        <div class="text-center">
          <h1 class="text-dark">About Us</h1>
          <h2 class="fs-6 text-dark">
            We sell and deliver computer accessories and parts to meet the needs
            of the local market and individuals
          </h2>
          <p>
            <a [routerLink]="['/store']" class="btn btn-dark px-5 py-3"
              >Shop Now</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Site-block-ends -->

  <!-- mini-about-starts  -->
  <div class="p-3">
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img
                  src="../assets/site-block-bg.jpg"
                  alt="Image placeholder"
                  class="img-fluid rounded"
                />
                <a
                  href="https://www.youtube.com/watch?v=qLUhvBAtS4I&pp=ygURYW1hem9uIHNlbGxlciBhcHA%3D"
                  class="play-button popup-vimeo"
                  ><span class="icon-play"
                    ><img src="../assets/svg/play.svg" alt="play" /></span
                ></a>
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>
              At the core of Comp Sales Ecommerce is our vision to revolutionize
              the way you shop online. We aim to be a one-stop destination where
              technology meets affordability, and where the joy of online
              shopping is enhanced by exceptional customer service.
            </p>
            <p>
              At Comp Sales Ecommerce, we believe in delivering products that
              exceed expectations. Every item in our inventory undergoes
              rigorous quality checks to ensure durability and performance. We
              prioritize transparency, providing detailed product information
              and customer reviews to help you make informed decisions.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img
                  src="../assets/online-shopping-bg.jpg"
                  alt="Image placeholder"
                  class="img-fluid rounded"
                />
                <a
                  href="https://www.youtube.com/watch?v=JL_UAMVKr5g&pp=ygUFanVtaWE%3D"
                  class="play-button popup-vimeo"
                  ><span class="icon-play"
                    ><img src="../assets/svg/play.svg" alt="play" /></span
                ></a>
              </figure>
            </div>
          </div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">We Are Trusted Company</h2>
            </div>
            <p class="text-black">
              At Comp Sales Ecommerce, we are more than just an online store; we
              are your dedicated partner in providing a seamless and delightful
              shopping experience. With a passion for technology and a
              commitment to customer satisfaction, we've curated a diverse range
              of products to cater to your every need.
            </p>
            <p class="text-black">
              This philosophy is reflected in the Company’s vision and mission
              statements, its core values and guiding principles.
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- mini-about-ends  -->

  <!-- Devilery-notice-starts  -->
  <div class="container p-3">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay=""
      >
        <div class="icon mr-4 align-self-start">
          <img src="../assets/svg/truck.svg" alt="truck" />
        </div>
        <div class="text">
          <h2>Free Delivery</h2>
          <p class="text-justify">
            Leave that delivery duty on us, free delivery for the whole day.
            Your order would be delivered at your convenience.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon mr-4 align-self-start">
          <img src="../assets/svg/return.svg" alt="truck" />
        </div>
        <div class="text">
          <h2>Free Returns</h2>
          <p class="text-justify">
            If for any reason Clients are not satisfied with an order, the items
            can be returned for Size/Color Exchange, Store Credit or Refund
            within 28 days of the order’s delivery date. Items must not have
            been worn, washed or altered in any way, and must not show any signs
            of use. Items must be returned with all original labels and tags
            still attached, packaging and other accessories (dust bags, hangers,
            garment covers etc.) received with the order.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon mr-4 align-self-start">
          <img src="../assets/svg/help.svg" alt="truck" />
        </div>
        <div class="text">
          <h2>Customer Support</h2>
          <p class="text-justify">
            To earn the respect (and eventually love) of our customers, we first
            respect our customers. To give real service to our customers, we
            must add something which cannot be bought or measured with money,
            and that is sincerity and integrity.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Devilery-notice-ends  -->
  <app-footer></app-footer>
</div>
